@model IEnumerable<MVCSistemaCrud.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h1>INVENTARIO</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimaCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadesEnInventario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimaCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadesEnInventario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
